@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
}

/* Utilities */
.contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 80%;
	margin: 0 auto;
}

/* Header starts */
.upper-header {
	background-color: #f5fbff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-icons i {
	padding-right: 10px;
	color: #c7c7c7;
	cursor: pointer;
}

.header-icons i:hover {
	color: #5db2ff;
}

.header-contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header-contact p {
	margin-left: 45px;
	font-size: 14px;
	color: #727272;
	cursor: pointer;
}

.header-contact p i {
	color: #5db2ff;
	margin-right: 5px;
	font-size: 12px;
}

.lower-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

nav ul li {
	position: relative;
}

nav ul li a {
	text-decoration: none;
	margin-right: 20px;
	color: #727272;
	font-size: 14px;
}

nav ul li a:hover {
	color: #000;
}

nav ul li:hover ul {
	display: block;
}

nav ul ul {
	position: absolute;
	left: 0;
	top: 160%;
	background-color: #fff;
	width: 200px;
	z-index: 2;
	box-shadow: 0 0 10px rgb(0 0 0 / 2%);
	text-align: left;
	flex-direction: column;
	display: none;
	transition: 0.6s;
}

nav ul ul li {
	display: block;
	align-self: flex-start;
	padding-left: 15px;
}

nav ul ul li a {
	color: #000;
}

.btn-appointment {
	background-color: #009dff;
	border: 1px solid #009dff;
	outline: none;
	color: #fff;
	padding: 15px 25px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
}

.btn-appointment:hover {
	color: #009dff;
	background-color: #fff;
}

.btn-check {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.9);
	line-height: 80px;
	display: none;
	cursor: pointer;
}

#check {
	display: none;
}
/* Header ends */

/* Slider starts */
.slideshow {
	overflow: hidden;
}

.slides {
	position: relative;
	width: 200%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 10s slidy infinite;
}

@keyframes slidy {
	0% {
		left: 0%;
	}
	25% {
		left: 0%;
	}
	50% {
		left: 0%;
	}
	75% {
		left: -100%;
	}
	100% {
		left: -100%;
	}
}

.slider-section {
	height: 100vh;
	width: 50%;
	background: url('img/slider1.png') no-repeat center center / cover;
	float: left;
}

.slider {
	max-width: 80%;
	margin: 0 auto;
}

.slider-content {
	width: 70%;
	padding: 200px 0;
}

.slider-content h1 {
	font-weight: 900;
	font-size: 70px;
}

.slider-content h2 {
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 2px;
}

.slider-content p {
	font-size: 18px;
	width: 80%;
	color: #727272;
}

.btn-service {
	padding: 20px 40px;
	margin-top: 40px;
	background: linear-gradient(90deg, #0382f6, #5bb1ff);
	outline: none;
	border: 1px solid #0382f6;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.btn-service:hover {
	color: #0382f6;
	background: #fff;
}
/* Slider ends */

/* Services starts */
.services {
	background-color: #83c4ff;
	color: #fff;
	flex-wrap: nowrap;
}

.service {
	max-width: 33.33333%;
	padding: 50px 10px 50px 30px;
}

.service i {
	font-size: 50px;
}

.service h3 {
	font-size: 28px;
	font-weight: 400;
	margin: 20px 0;
}

.service input {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 10px 25px;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.service input:hover {
	background-color: #fff;
	color: #0382f6;
}

.service:nth-child(2) {
	background-color: #5db2ff;
}
/* Services ends */

/* Welcome section starts */
.welcome {
	padding: 120px 0;
}

.welcome .contents {
	align-items: flex-start;
}

.thumb {
	position: relative;
	flex: 0 0 50%;
}

.thumb1 {
	left: 0;
}

.thumb2 {
	position: absolute;
	right: 0px;
	bottom: -40px;
}

.welcome-msg {
	padding: 0 50px;
	flex: 0 0 50%;
}

.welcome-msg h3 {
	font-size: 22px;
	font-weight: 400;
}

.welcome-msg hr {
	width: 15%;
	height: 2px;
	background-color: #0382f6;
	border: none;
	margin-bottom: 20px;
}

.welcome-msg h1 {
	font-weight: 600;
	font-size: 40px;
}

.welcome-msg p {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 300;
	color: #727272;
}

.welcome-msg ul {
	list-style: none;
	margin-bottom: 30px;
}

.welcome-msg ul li {
	font-size: 16px;
	font-weight: 400;
	color: #727272;
}

.welcome-msg ul li i {
	color: #0382f6;
	margin-right: 10px;
}

.welcome-msg input {
	border: 1px solid #0382f6;
	color: #0382f6;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.welcome-msg input:hover {
	background-color: #0382f6;
	color: #fff;
}
/* Welcome section ends */

/* Department section starts */
.departments {
	background-color: #f5fbff;
	padding: 100px 0;
}

.dept-heading {
	text-align: center;
	margin-bottom: 50px;
}

.dept-heading h1 {
	font-weight: 500;
	font-size: 35px;
}

.dept-heading hr {
	width: 50px;
	height: 2px;
	border: none;
	background-color: #0382f6;
	margin: 5px auto;
}

.dept-heading p {
	font-weight: 300;
	color: #727272;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	margin: 10px;
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 20px;
	flex: 0 0 30%;
	max-width: 30%;
}

.card img {
	width: 100%;
}

.card img:hover {
	transform: scale(1.05);
	transition: all ease-in 0.3s;
}

.card h3,
.card p,
.card a {
	padding-left: 30px;
}

.card h3 {
	margin-top: 15px;
	font-weight: 500;
	font-size: 22px;
}

.card p {
	font-weight: 300;
	color: #727272;
	margin: 5px 0;
}

.card a {
	text-decoration: none;
	color: #009dff;
}

.card a:hover {
	text-decoration: underline;
}
/* Department section ends */

/* Testimonial starts */

.testimonials {
	background: url('img/bg-img.png') no-repeat center center / cover;
	height: 80vh;
	float: left;
	width: 50%;
}

.testimonials .testimonial {
	text-align: center;
	width: 100%;
	height: 80vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.testimonial .comment {
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding-top: 250px;
	max-width: 50%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.testimonial hr {
	width: 80px;
	margin: 0 auto;
}

.testimonial .name {
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	padding-top: 50px;
}
/* Testimonial ends */

/* Tabs section starts */
.mytabs {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	max-width: 80%;
	margin: 0 auto;
	padding: 25px;
    background-color: #f5fbff;
    border-bottom: 1px solid #727272;
}
.mytabs input[type='radio'] {
	display: none;
}
.mytabs label {
	padding: 25px;
	font-weight: bold;
	background-color: #f5fbff;
    cursor: pointer;
}

.mytabs .tab {
	width: 100%;
	padding: 20px;
	background: #fff;
	order: 1;
	display: none;
}

.tab-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-contents img, .text-part {
    flex: 0 0 50%;
    max-width: 50%;
}

.text-part {
    margin-right: 20px;
}

.mytabs .tab i {
    font-size: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #0382f6;
    padding: 15px;
    margin-bottom: 20px;
}

.mytabs .tab h2 {
	font-size: 20px;
    font-weight: 500;
}

.mytabs .tab p {
    font-size: 16px;
    font-weight: 300;
    color: #727272;
    margin-top: 10px;
}

.mytabs input[type='radio']:checked + label + .tab {
	display: block;
}

.mytabs input[type='radio']:checked + label {
	background: #fff;
}

/* Tabs section ends */

/* Doctor section starts */
.doctor {
	padding-top: 200px;
	padding-bottom: 150px;
}

.doctor h1 {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 20px;
}

.doctor i {
	padding: 10px;
	border: 1px solid #0382f6;
	color: #0382f6;
	cursor: pointer;
	margin-bottom: 20px;
}

.doctor i:hover {
	color: #fff;
	background-color: #0382f6;
}

.doctor-card {
	text-align: center;
	background-color: #F5FBFF;
	border-radius: 5px;
	flex: 0 0 0 20%;
	max-width: 20%;
	margin-right: 10px;
}

.doctor-card img {
	width: 100%;
}

.doctor-card h3 {
	font-weight: 500;
}

.doctor-card p {
	font-size: 14px;
	font-weight: 300;
	color: #727272;
	margin-bottom: 10px;
}
/* Doctor section ends */

/* Media Queries */
@media (max-width: 1100px) {
	.contents {
		max-width: 90%;
	}

	nav ul {
		display: none;
	}

	.btn-check {
		display: block;
	}

	nav {
		order: 3;
	}

	nav ul {
		display: block;
		position: fixed;
		width: 50%;
		height: 100vh;
		background: #f9f9ff;
		top: 0;
		left: -200%;
		transition: all 0.1s;
		padding-left: 50px;
		padding-top: 50px;
		z-index: 997;
	}
	nav ul li {
		line-height: 30px;
		margin-top: 15px;
	}

	nav ul ul {
		height: fit-content;
		padding-top: 0;
	}

	#check:checked ~ ul {
		position: absolute;
		left: 0;
	}
}

@media (max-width: 992px) {
	.slider-content {
		padding-top: 100px;
	}

	.slider-content h1 {
		font-size: 40px;
	}
	.slider-content h2 {
		font-size: 40px;
	}

	.services .contents {
		flex-direction: column;
	}

	.service {
		max-width: 100%;
	}

	.welcome .contents {
		flex-direction: column;
	}

	.thumb {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 100px;
	}

	.card {
		flex: 0 0 45%;
		max-width: 45%;
	}

    .mytabs, .tab-contents {
        flex-direction: column;
    }

    .text-part, .tab-contents img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tab-contents img {
        margin-top: 30px;
    }

}

@media (max-width: 768px) {
	.flex {
		flex-direction: column;
		margin: 0 auto;
	}

	.card {
		max-width: 100%;
	}

	.testimonial .comment {
		padding-top: 100px;
		max-width: 90%;
	}

	.doctor-card h3 {
		font-size: 14px;
	}

	.doctor-card p {
		font-size: 12px;
	}
}

@media (max-width: 550px) {
	.contents {
		max-width: 95%;
	}

	.btn-appointment {
		display: none;
	}

	.upper-header .contents {
		justify-content: center;
	}

	.header-contact {
		justify-content: center;
	}

	.header-contact p {
		margin-left: 20px;
	}

	.slider-content p {
		font-size: 16px;
	}

	.btn-service {
		margin-top: 10px;
		padding: 10px;
	}

	.thumb2 {
		left: 0;
		top: 0;
		display: none;
	}

	.thumb1 {
		text-align: center;
		object-fit: contain;
	}
}

@media (max-width: 450px) {
	.contents {
		margin-right: auto;
		margin-left: auto;
	}

	.thumb1 img {
		max-width: 250px;
		padding-left: 0;
		margin: auto;
	}

	.slider-content h1 {
		font-size: 30px;
	}

	.slider-content h2 {
		font-size: 30px;
		letter-spacing: 0;
	}
}
